<!-- <div class="mdc-card mdc-card--outlined">
  ... content ... -->

  <div class="card-container">
    <span>
      <div class="row">
        <div class="col-md-4 border border-warning" *ngFor="let evie of evies">
          <span>
          <br>
          <p>
            <strong> {{evie.name}}</strong>
            <br>
            <img src="{{evie.thumbImageUri}}" alt="{{evie.name}}">
          </p>
          <p>
            <br>
            <b>Species:</b> {{evie.species}}
            <br>
            <b>Age:</b> {{evie.age}}
            <br>
            <b>Good/Evil:</b> {{evie.goodevil}}
            <br>
            <b>Lawful/Chaotic:</b> {{evie.lawchaos}}
          </p>
        </span>
        </div>
      </div>
    </span>
  </div>

    
<!-- </div> -->
